@mixin border($dir, $color: $border, $type: solid) {
  & {
    position: relative;

    $bora: 'after';
    @if $dir == top {
      $bora: 'before';
    }

    &::#{$bora} {
      content: '';
      position: absolute;
      @if $type == dashed {
        background: linear-gradient(to right, $color 50%, transparent 50%);
        background-size: 10px 1px;
      } @else {
        background: $color;
      }

      @if $dir==bottom {
        bottom: 0;
      } @else if $dir==top {
        top: 0;
      }

      left: 0;
      right: 0;
      height: 1px;
      transform: scale(1, 0.5);
      @media screen and (min-resolution: 3dppx) {
        transform: scale(1, 0.33333);
      }
    }
  }
}

@mixin divid-line($height: 50px) {
  width: 1px;
  height: $height;
  background: #cdcdcd;
  transform: scale(0.5, 1);
  @media screen and (min-resolution: 3dppx) {
    transform: scale(0.33333, 1);
  }
}

@mixin multi-line($num: 100) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}

$path: 'https://syautodt.oss-cn-shanghai.aliyuncs.com/yunyx/cutImage/';

@mixin icon-oss($name) {
  background-image: url($path + $name + '@2x.png');
  background-size: 100% 100%;

  @media screen and (min-resolution: 3dppx) {
    background-image: url($path + $name + '@3x.png');
  }
}

// 只有单个图标
@mixin icon-oss-one($name) {
  background-image: url($path + $name + '.png');
  background-size: 100% 100%;
}
