// basic-color
//主色
$primary: #f24052;
$light-primary: #ffebed;
$dark-primary: #ec2f47;
// 辅助色
$info: #4883c0; //信息提示
$success: #19be6b; //成功
$warning: #ff9900; //警告
$error: #ed3f14; //失败
//中性色
$title: #1c2438; //标题
$content: #272727; //正文
$sub-color: #737373; //辅助/图标
$disabled: #bbbec4; //失效
$border: #cdcdcd; //边框
$divider: #e9eaec; //分割线
$background: #f5f5f9; //背景

// project-color
$placeholder: #c2c2c2;
